<div class='component-icon-holder {{#equals _position 'right'}}right{{/equals}}'>
  {{#if _iconName}}
    <div class='component-icon icon icon-{{_iconName}}' />
  {{else}}
    <img class="component-icon" src='{{src}}'/>
  {{/if}}
</div>
